<header class="primary-header flex">
  <div>
    <img class="logo" src="../../assets/space-tourism-assets/img/shared/logo.svg" />
  </div>

  <button class="mobile-nav-toggle" nav-expanded="not-expanded" (click)="toggleNav()"></button>

  <div class="header-line"></div>

  <nav class="main-nav">
    <ul class="primary-navigation underline-indicators flex" data-visible="not-visible">
      <li class="primary-navigation-item" routerLinkActive="active" routerLink="/space-tourism/home">
        <a class="text-white"><span aria-hidden="true">00</span> Home</a>
      </li>
      <li class="primary-navigation-item" routerLinkActive="active" routerLink="/space-tourism/destination">
        <a class="text-white"><span aria-hidden="true">01</span> Destination</a>
      </li>
      <li class="primary-navigation-item" routerLinkActive="active" routerLink="/space-tourism/crew">
        <a class="text-white" ><span aria-hidden="true">02</span> Crew</a>
      </li>
      <li class="primary-navigation-item" routerLinkActive="active" routerLink="/space-tourism/technology">
        <a class="text-white"><span aria-hidden="true">03</span> Technology</a>
      </li>
    </ul>
  </nav>
</header>
