.ff--nunito {
  font-family: "Nunito Sans", sans-serif;
}

.dark-mode--element {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}

.dark-mode--background {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}

.fs--14 {
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.fs--16 {
  font-size: 1.6rem;
  line-height: 1.6rem;
}

.fs--24 {
  font-size: 2.4rem;
  line-height: 2.4rem;
}

@media (min-width: 35em) {
}
