<div class="background background--technology"></div>

<div class="main">
  <app-main-menu></app-main-menu>

  <div class="grid-container grid--technology text-white">
    <h1 class="uppercase heading-5 technology-title"><span class="opacity-25">03</span> space launch 101</h1>
    <img [src]="selectedTechnology.images.landscape" class="technology-image--full-width">
    <div class="technology-list-container">
      <ul class="technology-list">
        <li *ngFor="let technology of technologies; let index = index;"
          class="heading-4 list-item"
          (click)="selectedTechnology = technology"
          [ngClass]="this.selectedTechnology === technology ? 'list-item-active bg-white': ''">
          {{ index }}
        </li>
      </ul>

      <div class="technology-info">
        <h3 class="technology-info-title uppercase font-barlow text-light">The terminology...</h3>
        <h3 class="heading-3 technology-name uppercase">{{ selectedTechnology.name }}</h3>
        <p class="body-typo text-light technology--description">{{ selectedTechnology.description }}</p>
      </div>
    </div>

    <img class="technology-image" [src]="selectedTechnology.images.portrait">
  </div>
</div>

