@import "./assets/reset.scss";
@import "./assets/space-tourism-assets/space-tourism-general.scss";

html {
  height: 100%;
  width: 100%;
  font-size: 62.5%; // For easy use of rem
  font-family: "Bellefair";
}

body {
  min-height: 100vh;
  display: grid;
}

img {
  max-width: 100%;
}
